/*상단*/
.header {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #000000;
    z-index: 1;
    margin-top: -10px;
}
.header .nav-list a:hover {
    background-color: #ddd; /* 배경색 설정 */
    color: black; /* 텍스트 색상 변경 */
}

.header .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    list-style: none;
}
.header .nav-list a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
}
.header .nav-list h1{
    font-size: 1.2rem;
}

.header .nav-item {
    margin: 0 10px;
}

body {
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
}
.wrapper {
    display: flex;
}

/*사이드 바*/
.sidebar {
    flex: 0 0 300px;
    background-color: #000000;
}
.sidebar ul {
    list-style-type: none; /* 목록 스타일 제거 */
    padding: 0; /* 패딩 제거 */
    margin-top: 200px;
    
}

.sidebar ul li a {
    display: block; /* 링크를 블록 요소로 만들어 전체 영역에 호버 효과 적용 */
    padding: 10px; /* 패딩 적용 */
    text-decoration: none; /* 링크 밑줄 제거 */
    color: black; /* 텍스트 색상 설정 */
    font-size: 2rem;
    text-align: right;
    color: white;
}

.sidebar ul li a:hover {
    background-color: #ddd; /* 배경색 설정 */
}

/*몸통*/
.main-content {
    width: calc(100% - 300px); /* 사이드바의 너비를 제외한 나머지 너비를 본문 컨텐츠의 너비로 설정 */
}


/*링크*/
#links {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.link-container {
    margin-right: 20px; /* 링크 사이의 간격 조정을 위해 추가 */
    padding: 10px; /* 링크 주위에 여백을 만들기 위해 추가 */
    border: 1px solid #555555; /* 박스의 테두리 설정을 추가 */
    position: relative; /* 상대 위치 설정 */
    overflow: hidden; /* 링크 컨테이너의 내용이 넘칠 경우를 대비하여 오버플로우 숨김 설정 */
}

.link-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
    transition: opacity 0.3s ease; /* 부드러운 효과를 위한 트랜지션 설정 */
    z-index: -1; /* 배경을 링크 뒤로 숨기기 위해 음수 z-index 설정 */
}

.link-container:hover::before {
    opacity: 1; /* 호버 시 배경의 투명도를 조정하여 나타나도록 설정 */
}

.link-container a {
    font-size: 2rem;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

/*푸터*/
footer {
    background-color: #000000; /* 푸터 배경색 설정 */
    padding: 20px; /* 푸터 패딩 설정 */
    text-align: center; /* 푸터 내용 가운데 정렬 */
    bottom: 0; /* 푸터를 화면 아래로 정렬합니다. */
    width: 100%; /* 푸터의 너비를 100%로 설정합니다. */
    font-size: 50px;
    z-index: 1;
}

/********************모바일********************/
/*차트 모바일*/
@media (max-width: 1600px) {
    .chart-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }



#sidebarToggle {
    display: none;
}

@media (max-width: 1200px) {
    #sidebarToggle {
        display: block;
        zIndex: '100';
    }

    /* 1200px 미만의 화면에서는 사이드바를 숨깁니다. */
    .sidebar {
        display: none;
    }
}